%h1 ユーザー情報

= link_to "PDF", administrator_users_path(format: :pdf)
%br

%table
  %thead 
    %th ID
    %th Email
    %th 登録日
  %tbody
    - @users.each do |user|
      %tr 
        %th
          = user.id
        %th
          = user.email
        %th
          = user.display_created_at


%div
  = link_to '管理者TOP', administrator_admins_path